.introducing-sec {
    padding: 138px 12px;
}

.introducing-sec h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -0.5%;
    vertical-align: middle;
}

.introducing-sec h1 span {
    color: #FFCE2B;
}

.introducing-sec p {
    color: #FAC3E0;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -1%;
    vertical-align: middle;
}

.card-wrap {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 10px;
    overflow: hidden;
}

.introducing-sec .intro-card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #fff;
}

.introducing-sec .intro-card h3 {
    color: #FDE2AE;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    margin: 0 0 16px 0;
}

.introducing-sec .intro-card p {
    color: #F8F9FA;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1%;
    margin: 0;
}

.introducing-sec .intro-card .icon {
    display: flex;
    justify-content: center;
}

.introducing-sec .intro-card .icon img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media (max-width: 991px) {
    .introducing-sec {
        padding-bottom: 80px;
    }

    .introducing-sec h1 {
        font-size: 40px;
    }

    .introducing-sec .intro-card h3 {
        font-size: 20px;
    }
}

@media (max-width: 771px) {
    .introducing-sec h1 {
        font-size: 30px;
    }

    .introducing-sec p {
        font-size: 18px;
    }

    .winners-feed h3 {
        margin-left: 0;
    }

    .introducing-sec .intro-card p {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .card-container {
        padding: 0 48px;
    }

    .introducing-sec .card-container .intro-card {
        padding: 48px;
    }
}

@media (max-width: 400px) {
    .card-container {
        padding: 0;
    }
}

@media (max-width: 350px) {
    .introducing-sec {
        padding: 60px 12px 80px;
    }
}