.winners-line-sec {
  height: auto;
  background: #941A724D;
  padding: 24px 40px;
  overflow: hidden;
}

.winners-line-inner {
  gap: 30px;
  overflow-x: hidden;
  white-space: nowrap;
  align-items: center;
}

.winners-line-sec img {
  height: 56px;
  flex-shrink: 0;
}

@media (max-width: 991px) { 
  .winners-line-sec img {
    height: 40px;
  }
}

@media (max-width: 771px) {
  .winners-line-sec img {
    height: 30px;
  }
}